:root {
    --primary-color: #2E2F42;
    --second-color:#FFF;
    --primary-link-color: #434455;
    --accent-color: #4D5AE5;
    --main-font: 'Roboto', sans-serif;
    --other: #F4F4FD;
    --hover-focus-color: #404BBF;
  }

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-link-color);
    background-color: var(--second-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    padding: 0 15px;
}

button {
    cursor: pointer;
    color: var(--second-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--accent-color);
    font-family: "Roboto",
        sans-serif;
}

button:hover,
button:focus {
    background-color: var(--hover-focus-color);
}

a {
    text-decoration: none;
    font-style: normal;
}

a:hover,
a:focus {
    color: var(--hover-focus-color);
}


ul,
ol {
    list-style-type: none;
}

.main-contact {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* comon styles */

/* header mobile styles */

.menu {
    display: none;

}

.address-list {
    display: none;
}

.logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);

}

.logotype .logotype-span {
    color: var(--primary-color);
}

.mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-open-btn-icon {
    fill: #2F2F37;
}

.page-header { 
border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    height: 56px;
    padding: 16px;
}

.header-container {
    padding: 0;
}

/* header mobile styles */

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background-color: var(--second-color);
    transform: translateX(100%);
    transition: transform 250ms linear;
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    line-height: 0;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}}

.mobile-menu-close-btn-icon {
stroke: var(--primary-color);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    fill: var(--second-color);
    border: none;
}

.mobile-menu-container {
    position: relative;
}

.navigation-mobile-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    /* margin-top: 74px;
    margin-bottom: 168px; */
}

.navigation-mobile-menu {
margin-top: 74px;
margin-bottom: 168px;
}

.navigation-mobile-link {
color: var(--primary-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.navigation-mobile-link:hover .navigation-mobile-link:focus {
    color: var(--hover-focus-color);
}

.nst {
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
margin-bottom: 48px;
}

.mobile-menu-contact-link-blue {
color: var(--accent-color);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}

.mobile-menu-contact-link {
    color: var(--primary-link-color);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.mobile-social-container {

}
.icon-social-list {
display: inline-flex;
align-items: flex-start;
gap: 40px;
/* margin-bottom: 40px; */
}

.icon-link {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.icon-link{
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background-color: var(--accent-color);
border-radius: 50%;
}

.icon-team-contact {
fill: var(--other);    
}

.icon-link:hover, .icon-link:focus{
    background-color: var(--hover-focus-color);
}

.about-us {
    background-color: var(--primary-color);
    padding: 72px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-section-background-mobile.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

/* header mobile styles */


/* HERO MOBILE STYLES */

h1 {
    color: var(--second-color);
    margin: 0 auto;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    height: 160px;
    max-width: 169px;
    margin-bottom: 72px;
    text-align: center;
}

.page-button {
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    background: var(--accent-color);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

/* HERO MOBILE STYLES */


/* OUR BENEFITS MOBILE STYLES */

.icon-benefits {
    display: none;
}

.our-benefits {
    background-color: var(--second-color);
    padding: 96px 0;
}

.our-benefits-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list-item-title {
color: var(--primary-color);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-benefits-list-item {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.benefits-paragraph-text {
  margin-top: 0;
  margin-bottom: 0;
align-self: stretch;
color: var(--primary-link-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto;
}

/* OUR BENEFITS MOBILE STYLES */


/* TEAM MOBILE STYLES */

.about-team {
    background-color: var(--other);

    flex-shrink: 0;
    padding: 96px 0;
}

.container-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-team-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.team-list-item {
    background-color: var(--second-color);
    border-radius: 0px 0px 4px 4px;
    background: var(--second-color);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-about-team {
    padding: 32px 0;
}

.team-name {
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-profession {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}

.our-team-section {
    background-color: var(--second-color);
}

.icon-team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icon-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.container-about-team .icon-link:hover {
    background-color: var(--hover-focus-color);
}

.container-about-team .icon-link:focus {
    background-color: var(--hover-focus-color);
}

.icon-team {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* TEAM MOBILE STYLES */


/* PORTFOLIO STYLES */

.about-portfolio {
    padding: 96px 0;

}

.portfolio-list-item {
    background-color: var(--second-color);;
    box-sizing: border-box;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
} 



.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.photo-portfolio {
    background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;

}

.card-content {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid var(--CORNFLOWER, #E7E9FC)
    border-top: none;
}

.photo-portfolio {
    width: 100%;
}

.portfolio-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-color);
    margin-bottom: 72px;

}

.portfolio-list-item-title {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}

.overlay-text {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--accent-color);
    color: var(--other);
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto;
}


.photo-container-protfolio {
    position: relative;
    overflow: hidden;

}

.photo-container-protfolio:hover .overlay-text {
    transform: translateY(0%);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* PORTFOLIO STYLES */



/* FOOTER STYLES */

footer {
    flex-shrink: 0;
    background-color: var(--primary-color);
}

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logotype-span-white {
    color: var(--other);

}

.logotype-link-footer {
    justify-content: center;
    margin-bottom: 18px;
    display: flex;
    margin-right: 0;
}

.text-footer {
    color: var(--other);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 72px;
    width: 264px;
}

.social-media-icon-footer .icon-link:hover {
    background-color: #31D0AA;
}

.social-media-icon-footer .icon-link:focus {
    background-color: #31D0AA;
}

.social-media-title {
    color: var(--second-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 0;
    text-align: center;
}

.icon-footer-list {
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.footer-review-text {
    color: var(--second-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 0;
    text-align: center;
}

.footer-logot {
    display: block;
    justify-content: center;
    align-items: center;

}

.user-email-subscribe {
    width: 288px;
    height: 40px;
    background: var(--primary-color);
    outline-color: transparent;
    outline-offset: 4px;
    border-radius: 4px;
    border: 1px solid var(--second-color);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--second-color);
    margin: 0 auto;
    display: block;
    margin-bottom: 16px;

}

.user-email-subscribe::placeholder {

    font-size: 12px;
    font-weight: 400;
    line-height: 2px;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: var(--second-color);
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    background: var(--accent-color);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    padding: 8px 24px;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--second-color);
    cursor: pointer;
    margin: 0 auto;
}



/* MODAL STYLES */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    ;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-left: 16px;
    padding-bottom: 24px;
    padding-right: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    ;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
    stroke: var(--primary-color);
}

.modal-close-button {
    background-color: #E7E9FC;
    border: 1px solid #0000001A;
    padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    fill: var(--second-color);
    border: none;
}


.review-form-description {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    width: 100%;
    margin-bottom: 16px;
    margin-top: 0;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--LIGHT-SLATE, #8E8F99);
    margin-bottom: 4px;
}

.review-form-field {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: #FCFCFC;
    padding-left: 34px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    margin-bottom: 8px;
}

.review-form-field-icon {
    fill: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-field:focus {
    outline-color: transparent;
    outline-offset: 4px;
    border-color: var(--accent-color);
}

.review-form-field:focus+.review-form-field-icon {
    fill: var(--accent-color);
}

.review-form-field-wrapper-text {
    margin-bottom: 16px;
}

.review-form-field-wraper {
    margin-bottom: 8px;
}

.review-form-message {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    

}

.review-form-message::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));

}

.review-form-message:focus {
    outline-color: transparent;
    outline-offset: 4px;
    border-color: var(--accent-color);
}

.review-form-checkbox-label {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.privacy-policy-link {
    color: var(--accent-color);
    text-decoration-line: underline;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-own-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked+.review-form-checkbox-label .review-form-own-checkbox {
    background-color: var(--hover-focus-color);
    fill: var(--other);
    border: none;
}

.review-form-checkbox:focus+.review-form-checkbox-label .review-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.review-form-button {
    border-radius: 4px;
    background: var(--accent-color);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    width: 105px;
}

/* FOOTER STYLES */
.footer-review-container{
    display: block;
    align-items: center;
    justify-content: space-between;

}

/* MODAL STYLES */




/* mobile menu */


@media screen and (min-width:320px) { 
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-container {
        display: block;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    }

/* mobile HERO MENU */


@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx)  and (max-width: 767px), 
screen and (min-device-pixel-ratio: 2) and (max-width: 767px)
{

.about-us { 
background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-section-background-mobile@2x.jpg);
}

}



@media screen and (min-width:768px) {
  
   .container {
        width: 768px;
    }

    /* Header tablet styles */

    .menu {
        display: flex;
    }

    .address-list {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-open-btn {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        height: 72px;
    }

    .page-header-container {
        padding: 0;
    }

    .page-navigation {
        display: flex;
        align-items: center;
    }

    .menu {
     display: flex;   
    gap: 40px;
    }

    .header-container {
    display: flex;
    align-items: center;
    }

    .address-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    }
        .logotype {
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--accent-color);
            margin-right: 76px;
            padding: 24px 0;
        }
    
        .menu-item:first-child .menu-link {
            color: var(--hover-focus-color);
            position: relative;
        }

            
        .menu-link {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--primary-color);
            padding: 24px 0;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
 
    
        .link-navigation::after {
            content: "";
            width: 100%;
            border-radius: 2px;
            background: var(--hover-focus-color);
            height: 4px;
            display: block;
            margin-top: 20px;
            position: absolute;
            bottom: -1px;
            left: 0;
            color: var(--hover-focus-color);
        }
    
    
.address-link {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-link-color);
padding: 24px 0;
}
    
.address-list-item .address-link {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Header tablet styles */


  /* HERO TABLET STYLE */



  h1 {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    height: 120px;
    margin-bottom: 36px;
}
  
.about-us {
    padding: 112px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-section-background-tablet.jpg);

}
   /* HERO TABLET STYLE */


/* OUR BENEFITS tablet STYLES */ 

.our-benefits-list {
display: flex;
flex-wrap: wrap;
flex-direction: row;
column-gap: 24px;
row-gap: 72px;
justify-content: space-between;
}

.our-benefits-list-item {
width: calc((100% - 24px) / 2);   
align-items: flex-start; 
}

.container-benefits {
    padding: 0 16px;
}

.benefits-paragraph-text {
    margin: 0;
}

/* OUR BENEFITS tablet STYLES */



/* TEAM tablet STYLES */


.team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    column-gap: 24px;
    row-gap: 64px;
}

.team-list-item {
    background-color: var(--second-color);
    border-radius: 0px 0px 4px 4px;
    background: var(--second-color);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* TEAM tablet STYLES */


/* PORTFOLIO  tablet STYLES */

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 2);
}

/* PORTFOLIO tablet STYLES */

/* FOOTER tablet STYLES */

.page-footer {
    display: flex;
   
}

.footer-container { 
    display: inline-flex;
    flex-direction: row;
        flex-wrap: wrap;
        width: 584px;
        gap: 24px;
        justify-content: flex-start;
        align-items: flex-start;
}
.footer-logot {
}
.footer-content {
    display: flex;
}

.footer-review-container {
    width: 100%;
}
}

.footer-review-text {
    text-align: left;
}
.email-footer-container {
}

.footer-subscribe {


/* FOOTER tablet STYLES */

/* MODAL STYLES */

.modal {
    width: 408px;
    min-height: 584px; 
    padding-left: 23px;
    padding-right: 25px;
}



/* MODAL STYLES */


}  


@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {

    .about-us {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-section-background-tablet@2x.jpg);
    }

}

@media screen and (max-width:767px) {
    .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99999999;
            background-color: var(--second-color);
            transform: translateX(100%);
            transition: transform 250ms linear;
        }
    
        .mobile-menu.is-open {
            transform: translateX(0%);
        }
    
        .mobile-menu-close-btn {
            background-color: #E7E9FC;
            border: 1px solid #0000001A;
            padding: 0;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            line-height: 0;
            position: absolute;
            top: 24px;
            right: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu-close-btn-icon {
            stroke: var(--primary-color);
        }
    
        .mobile-menu-close-btn:hover,
        .mobile-menu-close-btn:focus {
            fill: var(--second-color);
            border: none;
        }
    
        .mobile-menu-container {
            position: relative;
            margin-top: 24px;
            margin-bottom: 40px;
            margin-left: 16px;
            margin-right: 24px;
        }
    
        .navigation-mobile-list {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }
    
        .navigation-mobile-link {
            color: var(--primary-color);
            font-size: 36px;
            font-weight: 700;
            line-height: 1.1;
            letter-spacing: 0.02em;
            text-transform: capitalize;
        }
    
        .navigation-mobile-link:hover .navigation-mobile-link:focus {
            color: var(--accent-color);
        }
    
        .mobile-menu-contact-list {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }
        
        .mobile-menu-contact {
        margin-bottom: 48px;
        }
    
        
        .icon-social-list {
            display: inline-flex;
            align-items: flex-start;
            gap: 40px;
            /* margin-bottom: 40px; */
        }
    
        .icon-link {
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
        }
    
        .icon-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: var(--accent-color);
            border-radius: 50%;
        }
    
        .icon-team-contact {
            fill: var(--other);
        }
    
        .icon-link:hover,
        .icon-link:focus {
            background-color: var(--hover-focus-color);
        }

                .mobile-open-btn {
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    line-height: 0;
                }
        
                .mobile-open-btn-icon {
                    fill: #2F2F37;
                }
}

@media screen and (min-width:1158px) {
    .container {
        width: 1128px;
    }
        .address-list {
            display: flex;
            flex-direction: row;
            height: 72px;
            align-items: center;
            gap: 40px;
        }

    .about-us {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-section-background.jpg);
    }

    h1 {
        margin-bottom: 48px;
    }

    /*benefits desktop */

.our-benefits {
    background-color: var(--second-color);
    padding: 120px 0;
}

.our-benefits-list-item {
    display: flex;
    width: calc((100% - 72px) / 4);
    flex-direction: column;
    align-items: flex-start;
}

.our-benefits-list {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.icon-benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--other);
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;
}

.logo-benefits-icon {
    box-sizing: border-box;
    margin: 24px 100px;
}

.benefits-list-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    margin-bottom: 8px;
}

.benefits-paragraph-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}
           /*benefits desktop */


         /* TEAM desktop STYLES */

.about-team {
    padding: 120px 0;
}

.team-list-item {
    width: calc((100% - 72px) / 4);
}

         /* TEAM desktop STYLES */



.about-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;

}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-container {
    padding: 0 0;
}

/* FOOTER desktop STYLES */

.page-footer {
    padding: 100px 0;
}

.first-footer {
    gap: 0;
}

.icon-footer-list {
    margin-bottom: 0px;
}

.social-media-title {
text-align: start;
}

.social-media-icon-footer {
    margin-right: 80px;
}

.footer-content {
    display: flex;
    align-items: baseline;
}

.footer-container {
    margin-right: 120px;
}

.text-footer {
    margin-bottom: 0px;
}

/* FOOTER desktop STYLES */

/* MODAL STYLES */

.modal {
    padding-left: 24px;
    padding-right: 24px;
}

.review-form-field {
    padding-left: 38px;
}
/* MODAL STYLES */

}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {

    .about-us {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-section-background@2x.jpg);
    }

}